# Apple macOS
.DS_Store
.DS_Store?
*/.DS_Store

# Work directories
temp/*

# Node files
node_modules
.sass-cache

# JetBrains IDEs
.idea

# Includes directory
includes/fontello-*
!includes/fontello-*.zip

# custom
reatlat*
