//- pageGenerator a.k.a. template :)
mixin generatePage($lang)
    doctype html
    html(lang=$lang)
        head
            +getHead($lang)
        body.ami
            +getNavigationBar($lang)
            +getSection($lang, 'url-bar')
            +getSection($lang, 'devices-wrapper')
            +getFooter($lang)


//- Helpers
mixin getHead($lang)
        if $noindex
            meta(name="robots", content="noindex")

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //-meta(name='viewport', content='width=device-width')

        title= $locales[$lang].meta.title
        meta(name='description', content=$locales[$lang].meta.description)
        meta(name='keywords', content=$locales[$lang].meta.keywords)
        link(rel="canonical", href=$pageURL + ($lang == 'en' ? '' : $lang + '/'))
        //- add hreflang links

        //- load fonts and stylesheets
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Material+Icons|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i')
        link(rel='stylesheet', href='/assets/css/styles.css')


//- Navigation Bar
mixin getNavigationBar($lang)
    nav
        p Some naviagtion bar


//- Get content section
mixin getSection($lang, $selector)
    if $selector == 'url-bar'
        section.url
            h1 See your site responsive
            form#rwdform(name='rwdform')
                input#url(type='url', name='url', value='', placeholder='http:// <-must have')
                a.button(href='#') GO!

    if $selector == 'devices-wrapper'
        .wrapper
            section.display
                .mobile
                    iframe#mobile(src=$demoURL)
                .tablet
                    iframe#tablet(src=$demoURL)
                .laptop
                    iframe#laptop(src=$demoURL)
                .desktop
                    iframe#desktop(src=$demoURL)


//- Get Footer section
mixin getFooter($lang)

    //- Old jQuery need to test new one =)
        script(async, src='//code.jquery.com/jquery-latest.js')
        script(async, src='//code.jquery.com/ui/1.10.0/jquery-ui.js')

    script(async, src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(async, src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')

    script.
        $(document).ready(function () {
            // Change iFrame on a Button Click Event
            $(".button").click(function (event) {
                $("iframe").attr('src', $('#url').val());
            });
        });
    script.
        $(document).ready(function () {
            var a = 3;
            $('.desktop,.laptop,.tablet,.mobile').draggable({
                start: function (event, ui) {
                    $(this).css("z-index", a++);
                }
            });
            $('.display div').click(function () {
                $(this).addClass('top').removeClass('bottom');
                $(this).siblings().removeClass('top').addClass('bottom');
                $(this).css("z-index", a++);
            });
        });
    script.
        function show_error(url) {
            $('.about-tool > h2').before('<h2>Something went wrong</h2><p>' + url + '</p><br />');
        }
        var parts = document.location.href.split(/[?&]+([^=&]+)=([^&]*)/gi).slice(1);
        var url = parts[parts.indexOf('url') + 1] || null;
        // Take the url variable and update the iframes and input field when the URL is not null
        if (url !== null) {
            var decoded = decodeURIComponent(url).replace(/#/g, '');
            // We only support http/https protocols since everything else _can_ be a security issue
            if (/^(http|https)\\:/i.test(decoded) === false) {
                show_error('Invalid URL <strong>' + (decoded) + '</strong>, note that only http/https URLs are supported');
            } else {
                $("iframe").attr('src', decoded);
                $('#url').attr('value', decoded);
            }
        }
