//- Get Footer section
mixin getFooter(language)

    //- Old jQuery need to test new one =)
        script(src='//code.jquery.com/jquery-latest.js')
        script(src='//code.jquery.com/ui/1.10.0/jquery-ui.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://code.getmdl.io/1.3.0/material.min.js')
    script(src='/assets/js/scripts.min.js')