//- include all template parts, variables, mixins
include _variables

include _get-header
include _get-footer

include _mdl-header
include _mdl-drawer-navigation
include _mdl-footer

include _page-generator