mixin mdl-footer(language)

    - currentTime = new Date()
    - year = currentTime.getFullYear()

    footer.mdl-mini-footer.toolbox-footer
        .mdl-mini-footer__item.mdl-mini-footer__left-section
            ul.ami-footer-menu.mdl-mini-footer__link-list
                li: a(href='https://github.com/reatlat/am-i-responsive', rel='nofollow noopener' target='_blank')= locales[language].footer.menu.github
                li: a(href='https://github.com/reatlat/am-i-responsive/issues/new/choose', rel='nofollow noopener' target='_blank')= locales[language].footer.menu.issue
                li: a.mdl-js-popup(href='#', data-mdl-popup-action='gdpr')= locales[language].footer.menu.gdpr
                //-li: a.mdl-js-popup(href='#', data-mdl-popup-action='tos')= locales[language].footer.menu.tos
                li: a.mdl-js-popup(href='#', data-mdl-popup-action='mit')= locales[language].footer.menu.mit
                li: a.mdl-js-popup(href='#', data-mdl-popup-action='about')= locales[language].footer.menu.about
                li: a(href='https://reatlat.net/contact/?utm_source=contact&utm_medium=projects&utm_campaign=AMI' target='_blank')= locales[language].footer.menu.contact

    //- TODO: include after ready translations
        .mdl-mini-footer__item.mdl-mini-footer__right-section.custom-right-footer
            .sc-locales
                label
                    span #{locales[language].footer.localeselector}:
                    select#localeselector(onchange="location = this.value;")
                        if language === "en"
                            option(value='/', selected='selected') English
                        else
                            option(value='/') English

                        if language === "es"
                            option(value='/es/', selected='selected') Español (España)
                        else
                            option(value='/es/') Español (España)

                        if language === "ru"
                            option(value='/ru/', selected='selected') Русский
                        else
                            option(value='/ru/') Русский