mixin mdl-drawer-navigation(language)

    .mdl-layout__drawer
        //-span.mdl-layout-title
            a(href="/company/style-guide/")
                img.logo-brand(src='/assets/img/logos/', alt='', width="110")
        nav.mdl-navigation
            a.js-submenu-toggle.mdl-navigation__link.mdl-navigation__link--toggle.mdl-typography--font-bold Some links
            .mdl-navigation.mdl-navigation--submenu.mvn.ptn.pln
                .mdl-navigation.mdl-navigation--submenu.mvn.ptn.pln
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link

                a.mdl-navigation__link.mdl-navigation__link--radio.js-submenu-anchor-toggle Some links
                .mdl-navigation.mdl-navigation--submenu.mvn.ptn.pln
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/some_link/#") Some link

