mixin mdl-header(language)
    header.mdl-layout__header.mdl-layout__header--scroll
        #maia-nav-x.mdl-layout__header-row
            span.mdl-layout-title
                .logo-row
                    .lockup
                        span.lockup-text
                            span.lockup-brand= locales[language].navigation_bar.title

            .mdl-layout-spacer

            //- Right aligned menu below button
            button#ami-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
                i.material-icons more_vert
            ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="ami-menu-lower-right")
                li.mdl-menu__item(disabled) Projects
                li.mdl-menu__item: a(href="/") Link text
