//- Global variables
- noindex = false
- pageURL = "https://ami.reatlat.net"
- demoURL = "https://error-pages.reatlat.net/418"
- pageUUID = "68ed49f0-934e-47b0-ae84-75eeb4cd9875" //- DO NOT CHANGE!
- googleTagManagerID = "UA-108194111-2"
- addThisPubId = "ra-5cb0c83edcbe424b"
- disqusCommentsId = "https-ami-reatlat-net"


//- Locales
-
    locales = {
        "en" : {
            "meta" : {
                "title" : "Am I Responsive?",
                "description" : "Show off how responsive design looks across different browsers easily with this 4 in 1 viewport tool. See how your site looks on desktop, laptop, ipad & iphone.",
                "keywords" : "responsive design, responsive, viewport, viewports, layout, design tool, tool"
            },
            "navigation_bar" : {
                "title" : "Take a look at how your website is responsive",
            },
            "header" : {
                "content" : "",
            },
            "page_content" : {
                "url_title" : "Type URL address",
                "about_project" : {
                    "title" : "About project",
                    "p_1" : "Original idea taken form <a href='https://github.com/justincavery/am-i-responsive' rel='nofollow noopener' target='_blank'>am-i-responsive by @justincavery</a>. ",
                    "p_2" : "This is not a tool for testing, it is really important that you do that on real devices. This instead is a tool for quick screenshots (for me) and to visually allow people to “get” what you mean in client meetings.",
                    "p_3" : "I take a lot of screen shots of the various device breakpoints for responsive design and it takes a while to prepare them. This tools allows me to get what I need quickly, and hopefully it can be helpful for showing your more visual clients what you mean by responsive design when a suite of products isn't at the ready.",
                },
                "how_to_use" : {
                    "title" : "How to use it",
                    "p_1" : "Add your URL to the input field",
                    "p_2" : "Press Enter or stop typing and just wait 1 second",
                    "p_3" : "Admire your great work",
                },
                "features" : {
                    "title" : "Features",
                    "superlink" : 'Drag ⨁ button to your bookmarks bar!',
                    "p_1" : "http://localhost/ works so it's great for taking screenshots of local development URLs",
                    "p_2" : "Send someone a link with your site already embeded by using ?url=http://www.yoursite.com - <a class='display--contents' href='#{pageURL}?url=https://reatlat.net'>check example</a>",
                    "p_3" : "Rearrange and reorder the devices by clicking and dragging on the device",
                    "p_4" : "You can check the responsiveness on any site with a single click. Simply drag to your bookmarks bar the red plus-button",
                },
                "viewports" : {
                    "title" : "Viewports",
                    "desktop" : "1600x992px scaled down to scale(0.3181)",
                    "laptop" : "1280x802px scaled down to scale(0.277)",
                    "tablet" : "768x1024px scaled down to scale(0.219)",
                    "mobile" : "320x480px scaled down to scale(0.219)",
                    "note" : "<strong>Note:</strong> Apologies to all the Android fans out there, I'm sure a few of you have the “Android has a bigger market share” argument in mind but although you're right. A soon as possible I'll add the 2018 generation of Apple products, and also will add Android phones.",
                },
            },
            "discus" : {
                "title" : "Comments",
                "noscript" : "Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript' rel='nofollow noopener' target='_blank'>comments powered by Disqus</a>."
            },
            "footer" : {
                "menu" : {
                    "github" : "Open Source (GitHub)",
                    "issue" : "Feedback",
                    "gdpr" : "Privacy",
                    "tos" : "Term of Use",
                    "mit" : "MIT License",
                    "contact" : "Contact",
                },
                "localeselector" : "Change language",
            },
            "popup" : {
                "tos" : {
                    "title": "Term of Use",
                    "content": "Coming soon... perhaps 😅"
                },
                "gdpr" : {
                    "title": "GDPR, Cookie Policy for Am I Responsive?",
                    "content": "<p>This is the Cookie Policy for Am I Responsive?, accessible from https://ami.reatlat.net</p><p><strong>What Are Cookies</strong></p><p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p><p>For more general information on cookies see the Wikipedia article on HTTP Cookies.</p><p><strong>How We Use Cookies</strong></p><p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p><p><strong>Disabling Cookies</strong></p><p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p><p><strong>The Cookies We Set</strong></p><ul> <li> <p>Site preferences cookies</p><p>In order to provide you with a great experience on this site we provide the functionality to set your preferences for how this site runs when you use it. In order to remember your preferences we need to set cookies so that this information can be called whenever you interact with a page is affected by your preferences.</p></li></ul><p><strong>Third Party Cookies</strong></p><p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p><ul> <li> <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p><p>For more information on Google Analytics cookies, see the official Google Analytics page.</p></li><li> <p>Third party analytics are used to track and measure usage of this site so that we can continue to produce engaging content. These cookies may track things such as how long you spend on the site or pages you visit which helps us to understand how we can improve the site for you.</p></li><li> <p>We also use social media buttons and/or plugins on this site that allow you to connect with your social network in various ways. For these to work the following social media sites including; <a href='https://www.oracle.com/legal/privacy/addthis-privacy-policy.html' rel='nofollow noopener' target='_blank'>AddThis</a>, <a href='https://help.disqus.com/terms-and-policies/disqus-privacy-policy' rel='nofollow noopener' target='_blank'>Disqus</a>, will set cookies through our site which may be used to enhance your profile on their site or contribute to the data they hold for various purposes outlined in their respective privacy policies.</p></li></ul><p><strong>More Information</strong></p><p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. This Cookies Policy was created with the help of the Generator of <a href='https://cookiepolicygenerator.com' rel='nofollow noopener' target='_blank'>GDPR Cookies Policy Template</a> and the <a href='https://cookiespolicytemplate.com/' rel='nofollow noopener' target='_blank'>GDPR Cookies Policy Template</a> based on the <a href='https://termsfeed.com/privacy-policy/generator/' rel='nofollow noopener' target='_blank'>Privacy Policy Generator from TermsFeed</a>.</p><p>However if you are still looking for more information then you can contact us through one of our preferred contact methods:</p><ul> <li>By visiting this link: <a href='https://reatlat.net/contact/?utm_source=contact&utm_medium=projects&utm_campaign=AMI' target='_blank'>https://reatlat.net/contact/</a> </li><li> or visiting source code on GitHub <a href='https://github.com/reatlat/am-i-responsive'>https://github.com/reatlat/am-i-responsive</a> </li></ul>"
                },
                "mit" : {
                    "title": "MIT License",
                    "content": "<p>Copyright &copy; 2019 Alex Zappa a.k.a. re[at]lat</p><p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p><p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p><p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>"
                },
                "cookies" : {
                    "title" : "Cookies",
                    "negative" : "Learn more",
                    "positive" : "I Agree",
                    "content" : "To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too."
                },
            }
        }
    }