//- Global variables
- noindex = true
- pageURL = "https://ami.reatlat.net/"
- demoURL = "https://error-pages.reatlat.net/418"
- googleTagManagerID = "UX-123456789-0"
- disqusCommentsId = ""


//- Locales
-
    locales = {
        "en" : {
            "meta" : {
                "title" : "Am I Responsive?",
                "description" : "Show off how responsive design looks across different browsers easily with this 4 in 1 viewport tool. See how your site looks on desktop, laptop, ipad & iphone.",
                "keywords" : "some seo keywords here"
            },
            "navigation_bar" : {
                "title" : "See your site responsive",
            },
            "header" : {
                "content" : "",
            },
            "page_content" : {
                "url_title" : "Type URL address",
                "about_project" : {
                    "title" : "About project",
                    "p_1" : "About project",
                    "p_2" : "About project",
                    "p_3" : "About project",
                },
                "how_to_use" : {
                    "title" : "How to use it",
                    "p_1" : "About project",
                    "p_2" : "About project",
                    "p_3" : "About project",
                },
                "features" : {
                    "title" : "Features",
                    "p_1" : "About project",
                    "p_2" : "About project",
                    "p_3" : "About project",
                },
                "viewports" : {
                    "title" : "Viewports",
                    "desktop" : "1600x992px scaled down to scale(0.3181)",
                    "laptop" : "1280x802px scaled down to scale(0.277)",
                    "tablet" : "768x1024px scaled down to scale(0.219)",
                    "mobile" : "320x480px scaled down to scale(0.219)",
                },
            },
            "footer" : {
                "localeselector" : "Change language",
            }
        }
    }