//- Global variables
- noindex = true
- pageURL = "https://ami.reatlat.net/"
- demoURL = "https://error-pages.reatlat.net/418"
- pageUUID = "68ed49f0-934e-47b0-ae84-75eeb4cd9875" //- DO NOT CHANGE!
- googleTagManagerID = "UX-123456789-0"
- addThisPubId = "ra-5cb0c83edcbe424b"
- disqusCommentsId = ""


//- Locales
-
    locales = {
        "en" : {
            "meta" : {
                "title" : "Am I Responsive?",
                "description" : "Show off how responsive design looks across different browsers easily with this 4 in 1 viewport tool. See how your site looks on desktop, laptop, ipad & iphone.",
                "keywords" : "some seo keywords here"
            },
            "navigation_bar" : {
                "title" : "See your site responsive",
            },
            "header" : {
                "content" : "",
            },
            "page_content" : {
                "url_title" : "Type URL address",
                "about_project" : {
                    "title" : "About project",
                    "p_1" : "This is not a tool for testing, it is really important that you do that on real devices. This instead is a tool for quick screenshots (for me) and to visually allow people to “get” what you mean in client meetings.",
                    "p_2" : "I take a lot of screen shots of the various device breakpoints for responsive design and it takes a while to prepare them. This tools allows me to get what I need quickly, and hopefully it can be helpful for showing your more visual clients what you mean by responsive design when a suite of products isn't at the ready.",
                    "p_3" : "",
                },
                "how_to_use" : {
                    "title" : "How to use it",
                    "p_1" : "Add your URL to the input field",
                    "p_2" : "Press Enter or stop typing and just wait 1 second",
                    "p_3" : "Admire your great work",
                },
                "features" : {
                    "title" : "Features",
                    "p_1" : "http://localhost/ works so it's great for taking screenshots of local development URLs",
                    "p_2" : "Send someone a link with your site already embeded by using ?url=http://www.yoursite.com - <a class='display--contents' href='#{pageURL}?url=https://reatlat.net'>check example</a>",
                    "p_3" : "Rearrange and reorder the devices by clicking and dragging on the device",
                    "p_4" : "You can check the responsiveness on any site with a single click. Simply drag to your bookmarks bar the red plus-button",
                },
                "viewports" : {
                    "title" : "Viewports",
                    "desktop" : "1600x992px scaled down to scale(0.3181)",
                    "laptop" : "1280x802px scaled down to scale(0.277)",
                    "tablet" : "768x1024px scaled down to scale(0.219)",
                    "mobile" : "320x480px scaled down to scale(0.219)",
                    "note" : "<strong>Note:</strong> Apologies to all the Android fans out there, I'm sure a few of you have the “Android has a bigger market share” argument in mind but although you're right. A soon as possible I'll add the 2018 generation of Apple products, and also will add Android phones.",
                },
            },
            "discus" : {
                "title" : "Comments",
                "noscript" : "Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript' rel='nofollow noopener' target='_blank'>comments powered by Disqus</a>."
            },
            "footer" : {
                "localeselector" : "Change language",
            }
        }
    }