mixin mdl-drawer-navigation(language)

    .mdl-layout__drawer
        //-span.mdl-layout-title
            a(href="/company/style-guide/")
                img.logo-brand(src='/assets/img/logos/', alt='', width="110")
        nav.mdl-navigation
            a.js-submenu-toggle.mdl-navigation__link.mdl-navigation__link--toggle.mdl-typography--font-bold Marketing
            .mdl-navigation.mdl-navigation--submenu.mvn.ptn.pln
                .mdl-navigation.mdl-navigation--submenu.mvn.ptn.pln
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/photography/#overview") Overview
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/photography/#rules-of-thumb") Rules of thumb
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/photography/#half-body-shots-of-a-single-person") Half-body shots of a single person
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/photography/#headshots-of-a-single-person") Headshots of a single person
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/photography/#person-facing-nature") Person facing nature
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/photography/#single-objects") Single objects

                a.mdl-navigation__link.mdl-navigation__link--radio.js-submenu-anchor-toggle Visual/Graphical Elements
                .mdl-navigation.mdl-navigation--submenu.mvn.ptn.pln
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/visual-elements/#conceptual-graphics") Conceptual graphics
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/visual-elements/#abstract-background-elements") Abstract background elements
                    a.mdl-navigation__link.mdl-navigation__link--anchor(href="/company/style-guide/marketing/visual-elements/#simplified-product-like-mocks") Simplified product-like mocks

