//- Global variables
- $noindex = true
- $pageURL = "https://ami.reatlat.net/"
- $demoURL = "https://error-pages.reatlat.net"
- $googleTagManagerID = "UX-123456789-0"
- $disqusCommentsId = ""


//- Locales
-
    $locales = {
        "en" : {
            "meta" : {
                "title" : "Am I Responsive?",
                "description" : "Show off how responsive design looks across different browsers easily with this 4 in 1 viewport tool. See how your site looks on desktop, laptop, ipad & iphone.",
                "keywords" : "some seo keywords here"
            },
            "navigation_bar" : {
                "menu" : "",
            },
            "header" : {
                "content" : "",
            },
            "page" : {
                "content" : "",
            },
            "footer" : {
                "content" : "",
            }
        },
    }