/**
 * AIM styles
 */
@import "variables";

body.ami {
  @import "vendor/spacing";
  @import "vendor/animate";
  @import "vendor/mdl-jquery-modal-dialog";

  //
  //body {
  //  //background-color: #fff;
  //  //background-image: url('../images/background.jpg');
  //  //background-size: 100%;
  //  //background-size: cover;
  //  //margin-top: 20px;
  //  //margin: 0;
  //  //padding: 0;
  //}

  .bg-image--devices {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .display {
    position: relative;
    left: 0px;
    height: 700px;
  }

  .url {
    float: left;
    background-color: #cc4e46;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px -2px 5px #333;
  }

  .bg-norepeat {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
  }

  .fullwidth {
    width: 100%;
  }

  .ami-viewport-table {
    border-left: 0px;
    border-right: 0px;
  }

  .mdl-layout__content {
    overflow: visible !important;
  }

  main.mdl-layout__content .page-content .mdl-grid {
    max-width: 1200px;
  }

  .page-content {
    .mdl-textfield {
      width: 100%;
    }
  }

  .display {
    &--contents {
      display: contents;
    }
  }

  footer.mdl-mini-footer {
    z-index: 1010;

    .mdl-mini-footer__item {
      @media (max-width: 768px) {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: 600px) {
        width: 100%;

      }

      .sc-locales {
        line-height: 36px;
      }

      .ami-footer-menu {
        @media (max-width: 600px) {
          display: block;
          li {
            line-height: 36px;
          }
        }
      }
    }

  }

  @import "devices";
  @import "addthis";
}


