
.mdl-table {
  display: table;
  .mdl-table-cell {
    display: table-cell;
    vertical-align: middle;
    &.mdl-table-cell--top {
      vertical-align: top;
    }
    &.mdl-table-cell--bottom {
      vertical-align: bottom;
    }
  }
}